* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overscroll-behavior: none;
    font-size: 75%;
    font-family: sans-serif;
    background-color: #cccccc;
    max-width: 100%;
}

/* Header */

.header-container {
    background-color: #120323;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-container img {
    margin-top: 1rem;
}

h1 {
    color: #97bf04;
}

/* Navigation */

.header-container nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.header-container nav ul li {
    background-color: #d9043d;
    border: 1.5px solid #97bf04;
    padding: 0.75rem 0;
    margin: 0.75rem 2.5%;
    text-align: center;
}

.header-container nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
}

/* Gallery */

#grid-gallery-container {
    display: grid;
    grid-template-columns: 1fr;
}

figure {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    justify-items: center;
}

figure img {
    width: 100%;
    height: auto;
    border-bottom: 7.5px solid #97bf04;
}

/* Footer */

footer {
    color: white;
    text-align: center;
    background-color: #d9043d;
    padding: 1rem;
}

/* 768px to 1000px */

@media screen and (min-width: 768px) {
    
    body {
        font-size: 100%;
    }

    .header-container nav ul {
        flex-direction: row;
        list-style: none;
        padding: 0.25rem 0;
        margin: 0;
        background-color: #d9043d;
        justify-content: center;
    }

    .header-container nav ul li {
        background-color: #d9043d;
        border: none;
        padding: 0;
        text-align: center;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    div figure:nth-child(11) {
        grid-column: span 2;
        position: relative;
    }
    
    div figure:nth-child(11) img {
        width: 75%;
        height: auto;
        display: block;
        margin: auto;
    }

    footer {
        padding: 2rem 1rem
    }
}

@media screen and (min-width: 1000px) {

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 2.5rem;
        margin: 2rem;
    }
    
    div figure {
        grid-template-rows: 1fr auto;
        height: 100%;
        margin: 0.75rem;
    }
}