* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overscroll-behavior: none;
    font-size: 75%;
    font-family: sans-serif;
}

header {
    background-color: #120323;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a img {
    max-width: 100px;
    height: auto;
}

h1 {
    color: #97bf04;
    text-align: center;
}